[submodule "Infrastructure"]
    path = Infrastructure
    url = https://github.com/1mpl3m3nt3d/istore-infrastructure.git
    update = checkout
    brach = main
    fetchRecurseSubmodules = true
    ignore = none
    shallow = false
